footer {
  background-color: $light_grey;
  height: 150px;
  width: 100vw;
  max-width: 100%;
  border-top: $color_text 2px solid;
  display: flex;
  padding: 10px 5vw;
  align-items: center;
  margin-top: 55px;

  section {
    text-align: center;
    flex-grow: 1;

    address {
      font-style: normal;
      font-size: 0.7rem;
      text-transform: uppercase;

      span {
        display: block;
      }
      span:last-of-type {
        margin-bottom: 10px;
      }
    }
  }

  .flower_img {
    background-image: url("../assets/img/logo/rose_b.webp");
    height: 40%;
    width: 20%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .flower_img:nth-child(1) {
    transform: scaleX(-1);
  }
}
