footer {
  background-color: $light_grey;
  color: $black;
  height: 170px;
  width: 100vw;
  max-width: 100%;
  margin-top: 55px;
  border-top: $color_text 2px solid;
  .footer_spacer {
    display: flex;
    padding: 10px 5vw;
    align-items: center;
    height: 100%;
    max-width: 1024px;
    margin: auto;
    section {
      text-align: center;
      flex-grow: 1;
      h2 {
        font-size: 1rem;
        font-weight: 700;
      }
      address {
        font-style: normal;
        font-size: 0.7rem;
        text-transform: uppercase;
        span {
          display: block;
        }
        span:last-of-type {
          margin-bottom: 10px;
        }
      }
    }
    .flower_img {
      background-image: url("../assets/img/logo/rose_b.webp");
      height: 40%;
      width: 20%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .flower_img:nth-child(1) {
      transform: scaleX(-1);
    }
    .copy_text {
      text-transform: uppercase;
      font-size: 0.4rem;
      margin-top: 15px;
      color: $grey;
    }
  }
}
