header {
  background-color: $dark_grey;
  max-width: 100%;
  width: 100vw;
  min-height: 60px;
  position: sticky;
  top: 0;
  padding: 6vw 0 8vw 0;
  border-bottom: 2px solid $light_grey;

  .header_logo {
    width: 30%;
    min-width: 100px;
    height: auto;
    @include center_center;
  }

  .shopping_btn {
    @include header_btn;
    right: 8px;
    top: 10px;
    z-index: 999;
  }
  .shopping_black {
    @include text_color($light-theme: true);
    body.dark_mode & {
      @include text_color($light-theme: false);
    }
  }
}
