.product_page {
  @include theme_colors($light-theme: true);
  body.dark_mode & {
    @include theme_colors($light-theme: false);
  }

  .description_card {
    @include product_card_color($light-theme: true);
    body.dark_mode & {
      @include product_card_color($light-theme: false);
    }
    text-align: center;
    margin: 50px auto 90px auto;
    width: 90vw;
    padding: 30px 5vw;

    h1 {
      padding-top: 20px;
      padding-bottom: 10px;
    }

    img {
      height: auto;
      width: 75%;
      max-width: 350px;
      margin: 20px auto;
    }
  }

  .product_container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 95vw;
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 20px;
  }

  .filter_container {
    display: flex;
    width: 93vw;
    flex-direction: column;
    margin: 15px auto;

    .filter_btn {
      align-self: flex-end;
      right: 10px;
      @include icon_btn;
      @include text_color($light-theme: true);
      body.dark_mode & {
        @include text_color($light-theme: false);
      }
    }
    .filter_field {
      @include filter_field_bg($light-theme: true);
      body.dark_mode & {
        @include filter_field_bg($light-theme: false);
      }
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1px;
      padding: 1px 0;
      font-size: 0.8rem;
      text-transform: uppercase;

      .filter_option {
        display: flex;
        align-items: center;
        column-gap: 2.5vw;
        padding: 10px;
        width: calc(100% - 2px);
        @include filter_option($light-theme: true);
        body.dark_mode & {
          @include filter_option($light-theme: false);
        }
        .filter_type {
          margin-right: 10px;
        }
        .filter_type_btn {
          @include icon_btn;
          @include text_color($light-theme: true);
          body.dark_mode & {
            @include text_color($light-theme: false);
          }
        }
      }
      .price_range {
        @include filter_option($light-theme: true);
        body.dark_mode & {
          @include filter_option($light-theme: false);
        }
        width: calc(100% - 2px);
        min-height: 35px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        .price_range_title {
          width: 100%;
        }
        label {
          margin: 10px 20px 0 0;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 5px;
        }
      }
    }
  }
}

.cart_page {
  margin-top: 50px;
  @include theme_colors($light-theme: true);
  body.dark_mode & {
    @include theme_colors($light-theme: false);
  }
  .back_btn_container {
    margin: auto;
    width: 90vw;
  }
  .order_summary {
    @include product_card_color($light-theme: true);
    body.dark_mode & {
      @include product_card_color($light-theme: false);
    }
    margin: 20px auto 90px auto;
    width: 90vw;
    padding: 30px 5vw;
    position: relative;

    .clear_cart_btn {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .promo_code_container {
      padding: 15px 10px 20px 10px;
      margin: 10px 0;
      @include promo_field($light-theme: true);
      body.dark_mode & {
        @include promo_field($light-theme: false);
      }
      p {
        margin-bottom: 10px;
      }
    }
    .delete_all_cart {
      position: fixed;
      height: 100vh;
      max-height: 100%;
      max-width: 100%;
      width: 100vw;
      top: 0;
      left: 0;
      background-color: rgba($grey, 0.7);
      .delete_all_field {
        z-index: 2000;
        @include center_center;
        min-height: 200px;
        padding: 30px 10px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include delete_question($light-theme: true);
        body.dark_mode & {
          @include delete_question($light-theme: false);
        }
      }
    }
  }

  .summary_container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;

    .cart_products {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      row-gap: 10px;
      width: 100%;
    }
    h3 {
      width: 33.3%;
    }
    .product_in_cart {
      display: flex;
      position: relative;
      z-index: 0;
      width: 100%;
      flex-direction: column;
      row-gap: 10px;
      @include cart_product($light-theme: true);
      body.dark_mode & {
        @include cart_product($light-theme: false);
      }
      .cart_total_container,
      .cart_amount_container,
      .cart_pic_name {
        max-width: 100%;
        margin: 5px;
        max-height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .product_unit_price {
          font-size: 0.9rem;
        }
        figure {
          height: 80%;
          width: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .cart_adjust_btn:nth-child(1) {
        margin: 0 1.5vw 10px 0;
      }
      .product_amount {
        margin-right: 1.5vw;
      }
      .delete_product {
        position: absolute;
        right: 3vw;
        top: 10px;
      }
    }
    .checkout_total {
      width: 100%;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;

      p {
        width: 50%;
        margin-right: 10px;
        @include checkout_numbers($light-theme: true);
        body.dark_mode & {
          @include checkout_numbers($light-theme: false);
        }
        font-size: 0.9rem;
      }
      p:nth-of-type(2n) {
        min-width: 40px;
        text-align: left;
        flex-grow: 0;
        width: fit-content;
      }
      p:nth-of-type(5),
      p:nth-of-type(6) {
        @include text_color($light-theme: true);
        body.dark_mode & {
          @include text_color($light-theme: false);
        }
        font-size: 1rem;
        margin-top: 5px;
      }
    }
  }

  .order_form {
    width: 90vw;
    margin: auto;
    @include product_card_color($light-theme: true);
    body.dark_mode & {
      @include product_card_color($light-theme: false);
    }
    div {
      padding: 30px 5vw;
    }
    .payment_option_container {
      display: flex;
      column-gap: 15px;
      label {
        display: flex;
        column-gap: 10px;
      }
    }
    .general_info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 20px;
      label {
        width: 100%;
        span {
          display: block;
          margin-bottom: 3px;
        }
        .payment_option {
          display: inline-block;
        }
      }
    }
    .payment_label span {
      display: block;
      margin-top: 10px;
    }
    .confirm_container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      input {
        margin-right: 15px;
      }
      .confirm_btn_container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        button {
          width: fit-content;
        }
      }
    }
  }
}
