.product_page {
  @include theme_colors($light-theme: true);
  body.dark_mode & {
    @include theme_colors($light-theme: false);
  }

  .description_card {
    @include product_card_color($light-theme: true);
    body.dark_mode & {
      @include product_card_color($light-theme: false);
    }
    text-align: center;
    margin: 50px auto 90px auto;
    width: 90vw;
    padding: 30px 5vw;

    h1 {
      padding-top: 20px;
      padding-bottom: 10px;
    }

    img {
      height: auto;
      width: 75%;
      max-width: 350px;
      margin: 20px auto;
    }
  }

  .product_container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 95vw;
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 20px;
  }

  .filter_container {
    display: flex;
    width: 93vw;
    flex-direction: column;
    margin: 15px auto;

    .filter_btn {
      align-self: flex-end;
      right: 10px;
      @include icon_btn;
      @include text_color($light-theme: true);
      body.dark_mode & {
        @include text_color($light-theme: false);
      }
    }
    .filter_field {
      @include filter_field_bg($light-theme: true);
      body.dark_mode & {
        @include filter_field_bg($light-theme: false);
      }
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1px;
      padding: 1px 0;
      font-size: 0.8rem;
      text-transform: uppercase;

      .filter_option {
        display: flex;
        align-items: center;
        column-gap: 2.5vw;
        padding: 10px;
        width: calc(100% - 2px);
        @include filter_option($light-theme: true);
        body.dark_mode & {
          @include filter_option($light-theme: false);
        }
        .filter_type {
          margin-right: 10px;
        }
        .filter_type_btn {
          @include icon_btn;
          @include text_color($light-theme: true);
          body.dark_mode & {
            @include text_color($light-theme: false);
          }
        }
      }
      .price_range {
        @include filter_option($light-theme: true);
        body.dark_mode & {
          @include filter_option($light-theme: false);
        }
        width: calc(100% - 2px);
        min-height: 35px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        .price_range_title {
          width: 100%;
        }
        label {
          margin: 10px 20px 0 0;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 5px;
        }
      }
    }
  }
}

.cart_page {
  margin-top: 50px;
  @include theme_colors($light-theme: true);
  body.dark_mode & {
    @include theme_colors($light-theme: false);
  }
  .back_btn_container {
    margin: auto;
    width: 90vw;
  }
  .order_summary {
    @include product_card_color($light-theme: true);
    body.dark_mode & {
      @include product_card_color($light-theme: false);
    }
    margin: 20px auto 90px auto;
    width: 90vw;
    padding: 30px 5vw;
    .promo_code_container {
      padding: 15px 10px 20px 10px;
      margin: 10px 0;
      @include promo_field($light-theme: true);
      body.dark_mode & {
        @include promo_field($light-theme: false);
      }
      p {
        margin-bottom: 10px;
      }
    }
    .summary_container {
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;

      h3 {
        width: 33.3%;
      }
      .product_in_cart {
        display: flex;
        position: relative;
        z-index: 0;
        width: 100%;
        flex-direction: row;
        @include cart_product($light-theme: true);
        body.dark_mode & {
          @include cart_product($light-theme: false);
        }
        .cart_total_container,
        .cart_amount_container,
        .cart_pic_name {
          width: 33.3%;
          min-height: 200px;
          margin: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          figure {
            height: 80%;
            width: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          h2 {
            min-height: 20%;
          }
        }
        .cart_adjust_btn:nth-child(1) {
          margin: 0 1.5vw 10px 0;
        }
        .product_amount {
          margin-right: 1.5vw;
        }
        .delete_product {
          position: absolute;
          right: 3vw;
          top: 10px;
        }
      }
      .checkout_total {
        width: 100%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        p {
          flex-grow: 2;
        }
        p:nth-child(2n) {
          flex-grow: 0;
        }
      }
    }
  }
}
