body {
  font-family: "Roboto", sans-serif;
  background-color: $color_canvas;
  color: $color_text;
}

a {
  color: $color_text;
  text-decoration: none;
  &:visited {
    color: $color_secondary;
  }
}

.fixed_background {
  position: fixed;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h3 {
  font-size: 1rem;
}

h2 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}
