body {
  font-family: "Roboto", sans-serif;
  background-color: $color_white;
  color: $color_black;
}

a {
  color: $color_black;
  text-decoration: none;
  &:visited {
    color: $color_grey;
  }
}

.fixed_background {
  position: fixed;
}

h1 {
  text-transform: uppercase;
  font-size: 1rem;
}

p {
  font-size: 1rem;
}
