body {
  font-family: "Roboto", sans-serif;
  @include theme_colors($light-theme: true);
}
.dark_mode {
  background-color: $color_canvas_dark;
  color: $color_text_dark;
}

a {
  color: $black;
  text-decoration: none;
  &:visited {
    color: $light_grey;
  }
}

.fixed_background {
  position: fixed;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1,
h4 {
  font-size: 1rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

input::placeholder {
  font-size: 0.8rem;
}

input[type="text"],
[type="email"],
[type="tel"] {
  border-radius: 3px;
  border: solid 1px $black;
  padding: 2px 2px 2px 7px;
  font-size: 0.9rem;
  background-color: $light_grey;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:focus {
  background-color: $white;
  outline: 2px solid rgb(94, 128, 0);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $light_grey inset;
}

input[type="radio"],
[type="checkbox"] {
  accent-color: $dark_grey;
}

.noscript_container {
  position: fixed;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: $white;
    max-width: 300px;
  }
}

.hidden {
  display: none !important;
}
