button {
  color: $color_text;
  min-width: 35px;
  min-height: 35px;
  cursor: pointer;
  text-transform: uppercase;
}

.decrease_btn,
.increase_btn,
.total_btn,
.decrease_cart_btn,
.increase_cart_btn {
  @include product_buttons($light-theme: true);
  body.dark_mode & {
    @include product_buttons($light-theme: false);
  }
  border: none;
  border-radius: 2px;
  touch-action: manipulation;
}

.total_btn {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  font-size: 0.9rem;
}

.shopping_btn {
  @include header_btn;
  right: 8px;
  top: 10px;
  z-index: 999;
}
.shopping_black {
  @include text_color($light-theme: true);
  body.dark_mode & {
    @include text_color($light-theme: false);
  }
}

.open_products {
  @include back_button($light-theme: true);
  body.dark_mode & {
    @include back_button($light-theme: false);
  }
  border-radius: 2px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35px;
  padding-right: 15px;
  font-size: 0.9rem;
}

.summary_btn {
  @include product_buttons($light-theme: true);
  body.dark_mode & {
    @include product_buttons($light-theme: false);
  }
  border: none;
  border-radius: 2px;
  padding: 0 10px;
}

.add_code_btn {
  margin-top: 40px;
  font-size: 0.9rem;
}

.code_btn {
  margin-left: 10px;
  font-size: 0.9rem;
}

.delete_product {
  @include icon_btn;
  @include delete_btn($light-theme: true);
  body.dark_mode & {
    @include delete_btn($light-theme: false);
  }
}

.cart_adjust_btn {
  @include delete_btn($light-theme: true);
  body.dark_mode & {
    @include delete_btn($light-theme: false);
  }
}

.clear_cart_btn {
  font-size: 0.9rem;
}

.send_order_btn,
.clear_form_cart_btn,
.slow_btn {
  @include product_buttons($light-theme: true);
  body.dark_mode & {
    @include product_buttons($light-theme: false);
  }
  border: none;
  border-radius: 2px;
  padding: 0 10px;
}

button:disabled {
  @include disabled_btn($light-theme: true);
  body.dark_mode & {
    @include disabled_btn($light-theme: false);
  }
}
