$color_white: rgb(255, 255, 255);
$color_light_grey: rgb(248, 248, 248);
$color_grey: rgb(237, 237, 237);
$color_black: rgb(0, 0, 0);
$color_red: rgb(235, 0, 0);
$color_dark_grey: rgb(47, 47, 47);
$color_deep_grey: rgb(18, 18, 18);
