/* main {
  .product_page {
    margin: auto;
    max-width: 1024px;
    .description_card {
      width: 100%;
    }
    .filter_container {
      width: 100%;
    }
    .product_container {
      width: 100%;
      justify-content: space-between;
      .product_card {
        width: 32%;
      }
    }
  }
}
 */
