a:hover {
  color: $color_accent;
}

nav.open ul li a:hover {
  @include nav_hover_color($light-theme: true);
  body.dark_mode & {
    @include nav_hover_color($light-theme: false);
  }
}

.decrease_btn:hover,
.increase_btn:hover,
.total_btn:hover,
.summary_btn:hover,
.decrease_cart_btn:hover,
.increase_cart_btn:hover {
  @include btn_hover($light-theme: true);
  body.dark_mode & {
    @include btn_hover($light-theme: false);
  }
}

.open_products:hover {
  @include back_btn_hover($light-theme: true);
  body.dark_mode & {
    @include back_btn_hover($light-theme: false);
  }
}

.delete_product:hover {
  @include delete_btn_hover($light-theme: true);
  body.dark_mode & {
    @include delete_btn_hover($light-theme: false);
  }
}

.clear_form_cart_btn:hover,
.send_order_btn:hover {
  @include btn_hover($light-theme: true);
  body.dark_mode & {
    @include btn_hover($light-theme: false);
  }
}

.clear_cart_btn:hover,
.clear_form_cart_btn:hover {
  @include empty_cart_btn($light-theme: true);
  body.dark_mode & {
    @include empty_cart_btn($light-theme: false);
  }
}

button:disabled:hover {
  @include disabled_btn($light-theme: true);
  body.dark_mode & {
    @include disabled_btn($light-theme: false);
  }
}
