@mixin visually_hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin vertically_centered {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center_center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin header_btn {
  height: 35px;
  width: 35px;
  padding: 0;
  border: 0;
  position: absolute;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  justify-content: center;
}

@mixin theme_colors($light-theme: true) {
  @if $light-theme {
    background-color: $color_canvas;
    color: $color_text;
  } @else {
    background-color: $color_canvas_dark;
    color: $color_text_dark;
  }
}

@mixin theme_colors_reversed($light-theme: true) {
  @if $light-theme {
    background-color: $color_text;
    color: $color_canvas;
  } @else {
    background-color: $color_text_dark;
    color: $color_canvas_dark;
  }
}

@mixin reversed($light-theme: true) {
  @if $light-theme {
    background-color: $color_text;
  } @else {
    background-color: $color_text_dark;
  }
}

@mixin nav_hover_color($light-theme: true) {
  @if $light-theme {
    color: $color_secondary;
  } @else {
    color: $color_primary_dark;
  }
}

@mixin nav_border_color($light-theme: true) {
  @if $light-theme {
    border-bottom: $color_text 1px solid;
  } @else {
    border-bottom: $color_text_dark 1px solid;
  }
}
