@mixin visually_hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin vertically_centered {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center_center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin header_btn {
  height: 35px;
  width: 35px;
  padding: 0;
  border: 0;
  position: absolute;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  justify-content: center;
}

@mixin icon_btn {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0;
}

@mixin theme_colors($light-theme: true) {
  @if $light-theme {
    background-color: $color_canvas;
    color: $color_text;
  } @else {
    background-color: $color_canvas_dark;
    color: $color_text_dark;
  }
}

@mixin product_buttons($light-theme: true) {
  @if $light-theme {
    background-color: $color_text;
    color: $color_canvas;
  } @else {
    background-color: $color_secondary_dark;
    color: $color_canvas;
  }
}

@mixin nav_open($light-theme: true) {
  @if $light-theme {
    background-color: $color_canvas;
    color: $color_text;
  } @else {
    background-color: $color_secondary_dark;
    color: $color_text_dark;
  }
}
@mixin reversed($light-theme: true) {
  @if $light-theme {
    background-color: $color_text;
  } @else {
    background-color: $color_text_dark;
  }
}

@mixin text_color($light-theme: true) {
  @if $light-theme {
    color: $color_text;
  } @else {
    color: $color_text_dark;
  }
}

@mixin nav_hover_color($light-theme: true) {
  @if $light-theme {
    color: $color_secondary;
  } @else {
    color: $color_primary_dark;
  }
}

@mixin nav_border_color($light-theme: true) {
  @if $light-theme {
    border-bottom: $color_text 1px solid;
  } @else {
    border-bottom: $color_text_dark 1px solid;
  }
}

@mixin filter_option($light-theme: true) {
  @if $light-theme {
    background-color: $color_primary;
  } @else {
    background-color: $color_primary_dark;
  }
}

@mixin filter_field_bg($light-theme: true) {
  @if $light-theme {
    background-color: $color_text;
  } @else {
    background-color: $color_text_dark;
  }
}

@mixin product_card_color($light-theme: true) {
  @if $light-theme {
    background-color: $color_primary;
  } @else {
    background-color: $color_primary_dark;
  }
}

@mixin btn_hover($light-theme: true) {
  @if $light-theme {
    background-color: $color_btn_hover;
  } @else {
    background-color: $color_text;
  }
}

@mixin back_button($light-theme: true) {
  @if $light-theme {
    background-color: $color_secondary;
    color: $color_text;
  } @else {
    background-color: $color_primary_dark;
    color: $color_canvas;
  }
}
@mixin back_btn_hover($light-theme: true) {
  @if $light-theme {
    background-color: $color_primary;
  } @else {
    background-color: $color_secondary_dark;
  }
}

@mixin promo_field($light-theme: true) {
  @if $light-theme {
    background-color: $color_secondary;
    color: $color_text;
  } @else {
    background-color: $color_secondary;
    color: $color_text;
  }
}
@mixin cart_product($light-theme: true) {
  @if $light-theme {
    background-color: $color_secondary;
    color: $color_text;
  } @else {
    background-color: $color_secondary_dark;
    color: $color_text_dark;
  }
}

@mixin delete_btn($light-theme: true) {
  @if $light-theme {
    background-color: $color_secondary;
    color: $color_primary_dark;
  } @else {
    background-color: $color_secondary_dark;
    color: $color_secondary;
  }
}

@mixin delete_btn_hover($light-theme: true) {
  @if $light-theme {
    color: $color_accent;
    background-color: $color_primary_dark;
  } @else {
    color: $color_accent;
    background-color: $color_canvas_dark;
  }
}

@mixin delete_btn($light-theme: true) {
  @if $light-theme {
    background-color: $color_text;
    color: $color_canvas;
  } @else {
    background-color: $color_primary_dark;
    color: $color_text_dark;
  }
}

@mixin checkout_numbers($light-theme: true) {
  @if $light-theme {
    color: $color_primary_dark;
  } @else {
    color: $color_secondary;
  }
}

@mixin cart_number($light-theme: true) {
  @if $light-theme {
    background-color: rgba($color_primary_dark, 0.9);
    color: $color_text_dark;
  } @else {
    background-color: rgba($color_secondary, 0.9);
    color: $color_text;
  }
}

@mixin empty_cart_btn($light-theme: true) {
  @if $light-theme {
    color: $color_accent;
  } @else {
    color: $color_accent;
  }
}

@mixin delete_question($light-theme: true) {
  @if $light-theme {
    background-color: rgba($color_primary_dark, 0.9);
    color: $color_text_dark;
  } @else {
    background-color: rgba($color_secondary, 0.9);
    color: $color_text;
  }
}
